*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #9f9f9f;
}

.container{
    max-width: 1000px;
    width: 100%;
    height: 500px;
    background-color: #fff;
    border: 1px solid  grey;
    box-shadow: 0 0 10px grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide .items{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 15px; */
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px 3px rgb(85, 84, 84);
    transition: all 0.3s ease-in-out;
}


.slide .items:nth-child(2),
.slide .items:nth-child(4){
    width: 200px;
    height: 250px;
    z-index: 1;
}

.slide .items:nth-child(4){
    left: calc(50% - 150px);
}

.slide .items:nth-child(2){
    left: calc(50% + 150px);
    /* transition: 0.5s ease-in-out; */
}

.slide .items:nth-child(3){
    width: 225px;
    z-index: 2;
}

.slide .items:nth-child(1),
.slide .items:nth-child(5){
    height: 200px;
    z-index: 0;
    /* transition: 1s ease-in-out; */
}

.slide .items:nth-child(1){
    left: calc(50% + 270px);
    /* transition: left 1s ease-in-out; */
    z-index: 0;
    /* transform: scale(1); */
}

.slide .items:nth-child(5){
    left: calc(50% - 270px);
    /* transition: left 0.5s ease-in-out; */
}

.container button{
    padding: 5px 15px;
    border: 1px solid grey;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -25px);
    background-color: blue;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.container button:hover{
    background-color: rgb(10, 10, 94);
    padding: 10px 25px;
    border-radius: 5px;
}

.slide .items:nth-child(n){
    transition: all 0.3s ease-in-out;
}

@media (max-width: 770px){
    .slide .items:nth-last-child(n){
        width: 100%;
        height: 100%;
        /* position: absolute; */
        left: 0;
        top: 0;
        transform: translate(0);
        opacity: 1;
        transform: scale(1);
        z-index: 2;
        transition: all 0.5s ease-in-out;
        /* transition: 0.5s ease-in-out; */
        /* object-fit: contain; */
    }

    
    /* .slide .items:nth-last-child(2){
        width: 100%;
        height: 100%;
        left: 0;
        top: 20px;
        transform: translateX(-20px);
        opacity: 1;
        transform: scale(0.7);
        transition: opacity 0.2s;
        z-index: 1;
    } */

    .container button{
        z-index: 3;
    }

}
